/* * {
  border: 1px solid red;
} */
* {
  box-sizing: border-box;
  /* background-color: rgb(26, 26, 26); */
}
header,
footer {
  background-color: rgb(26, 26, 26);
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  font-size: 20px;
}

header > h1 {
  margin: 20px;
  margin-left: 40px;
  color: whitesmoke;
}

nav ul li {
  margin: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
}
main {
  background-image: url(../images/BackGround_Colombian-Llanos.jpg);
  background-size: cover;
  background-position: center; /* Centers the background image */
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

main > h2 {
  text-decoration: underline; /* Adds an underline to h2 elements */
  text-decoration-color: rgb(88, 213, 255);
  font-size: 50px;
  background-color: #00000085;
  border-radius: 10px; /* Rounds the corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow around the container */
  padding: 10px; /* Adds some space inside the container around the content */
  margin-top: 20px; /* Adds space above the h2 element to prevent overlap */
}
#DescripcionBienvenida a:link,
#DescripcionBienvenida a:visited {
  text-decoration: underline;
  color: whitesmoke;
  background-color: transparent;
  font-style: italic;
}
#DescripcionBienvenida * {
  background-color: #00000085;
  font-size: 1.375rem; /* Using rem for scalable font size */
  margin: 1.25rem; /* Increased margin for better spacing */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem; /* Adjusted padding for consistency */
}

/* Targeting links within the nav element */
nav a:link,
nav a:visited {
  color: whitesmoke; /* Sets the color of the links to white */
  text-decoration: none; /* Optional: Removes the underline from links */
}

/* To ensure links remain white when hovered over or active */
nav a:hover,
nav a:active {
  color: rgb(88, 213, 255); /* Keeps the link color white on hover/active */
  text-decoration: underline;
  font-size: 26px;
}

header {
  position: fixed; /* Fixes the nav's position relative to the viewport */
  top: 0; /* Aligns the nav to the top of the viewport */
  width: 100%; /* Ensures the nav spans the full width */
  z-index: 1000; /* Ensures the nav stays on top of other content */
}

h1 {
  text-decoration: underline; /* Adds an underline to h1 elements */
  text-decoration-color: rgb(
    88,
    213,
    255
  ); /* Sets the underline color to light blue */
}

/* Style the footer container */
footer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  color: white; /* Light text color for contrast */
  align-items: center; /* Center-align the text and inline-block elements */
  padding: 26px; /* Padding above and below the content */
  /* width: 100%; Ensure the footer spans the full width */
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.redesSociales {
  display: flex; /* Keeps .redesSociales as a flex container */
  flex-direction: row; /* This is default for flex containers and can be omitted unless needed for clarity */
  justify-content: flex-start; /* Aligns children to the start (left) */
  width: 100%; /* Ensures it takes the full width of its container */
}

/* Style the elements inside the footer to display as inline-block */
.redesSociales img,
.redesSociales a,
.redesSociales p {
  display: inline-block; /* Display elements next to each other */
  margin: 10px; /*Add some horizontal spacing between elements */
  /*Align the elements vertically in the middle*/
  vertical-align: middle;
}

/* Example: Style specific elements if needed */
footer a {
  font-size: 26px;
  color: whitesmoke; /* Light blue color for links */
  text-decoration: none; /* Remove underline from links */
}
.redesSociales p:hover,
.redesSociales p:active {
  color: rgb(88, 213, 255); /* Keeps the link color white on hover/active */
  text-decoration: underline;
  font-size: 30px;
}

#MensajeEspecial {
  display: flex; /* Keeps #MensajeEspecial as a flex container */
  justify-content: flex-end; /* Aligns its children (including p) to the right */
  width: 100%; /* Ensures it takes the full width of its container */
  margin-top: 20px; /* Adds space between .redesSociales and #MensajeEspecial */
}

#MensajeEspecial p {
  text-align: right; /* Aligns the text inside the paragraph to the right */
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 22px;
}

h3 {
  text-decoration: underline; /* Adds an underline to h1 elements */
  text-decoration-color: rgb(
    88,
    213,
    255
  ); /* Sets the underline color to light blue */
}

/*
  #ContenidoPrincipal {
    display: flex;
    /* flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
  } 
  
  
  #ContenidoPrincipal aside {
    flex-wrap: wrap;
  } */
