/* Aplica el modelo de caja de borde a todos los elementos */
* {
  box-sizing: border-box;
}

/* Estilos para el header y footer */
header,
footer {
  background-color: rgb(39, 39, 39); /* Color de fondo oscuro */
}

/* Estilos específicos para el header */
header {
  display: flex; /* Utiliza flexbox para el diseño */
  justify-content: space-between; /* Espacia los elementos entre sí */
  flex-direction: row; /* Dirección de los elementos en fila */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  font-family: "DM Sans", sans-serif; /* Fuente del texto */
  font-optical-sizing: auto; /* Ajuste óptico de la fuente */
  font-style: normal; /* Estilo de fuente normal */
}

/* Estilos para la lista de navegación */
nav ul {
  display: flex; /* Utiliza flexbox para el diseño */
  text-decoration: none; /* Sin subrayado en el texto */
  list-style-type: none; /* Sin estilo de lista */
  padding: 10px; /* Relleno interno */
  font-size: 20px; /* Tamaño de fuente */
}

/* Estilos para el título dentro del header */
header > h1 {
  margin: 20px; /* Margen alrededor del elemento */
  margin-left: 40px; /* Margen izquierdo */
  color: whitesmoke; /* Color del texto */
}

/* Estilos para los elementos de la lista de navegación */
nav ul li {
  margin: 20px; /* Margen alrededor del elemento */
}

/* Estilos para el html y body */
html,
body {
  margin: 0; /* Sin margen */
  padding: 0; /* Sin relleno */
}

/* Estilos para el main */
main {
  background-image: url(../images/BackGround_Colombian-Llanos.jpg); /* Imagen de fondo */
  background-size: cover; /* Cubre todo el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  color: white; /* Color del texto */
  height: 100vh; /* Altura del viewport */
  width: 100vw; /* Ancho del viewport */
  display: flex; /* Utiliza flexbox para el diseño */
  flex-direction: column; /* Dirección de los elementos en columna */
  justify-content: center; /* Centra los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  font-family: Arial, Helvetica, sans-serif; /* Fuente del texto */
}

/* Estilos para los elementos h2 dentro del main */
main > h2 {
  text-decoration: underline; /* Subraya el texto */
  text-decoration-color: rgb(88, 213, 255); /* Color del subrayado */
  font-size: 50px; /* Tamaño de fuente */
  background-color: #00000085; /* Color de fondo con transparencia */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del elemento */
  padding: 10px; /* Espaciado interno */
  margin-top: 20px; /* Margen superior */
}

/* Estilos para los enlaces dentro del nav */
nav a:link,
nav a:visited {
  color: whitesmoke; /* Color del texto */
  text-decoration: none; /* Sin subrayado en el texto */
}

/* Estilos para los enlaces en estado hover y active dentro del nav */
nav a:hover,
nav a:active {
  color: rgb(88, 213, 255); /* Color del texto */
  text-decoration: underline; /* Subraya el texto */
  font-size: 26px; /* Tamaño de fuente */
}

/* Estilos adicionales para el header */
header {
  position: fixed; /* Posición fija */
  top: 0; /* Alinea al tope del viewport */
  width: 100%; /* Ancho completo */
  z-index: 1000; /* Asegura que el header esté sobre otros contenidos */
}

/* Estilos para los elementos h1 */
h1 {
  text-decoration: underline; /* Subraya el texto */
  text-decoration-color: rgb(88, 213, 255); /* Color del subrayado */
}

/* Estilos para el footer */
footer {
  display: flex; /* Utiliza flexbox para el diseño */
  flex-direction: row; /* Dirección de los elementos en fila */
  color: white; /* Color del texto */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  padding: 26px; /* Relleno interno */
  font-family: "DM Sans", sans-serif; /* Fuente del texto */
  font-optical-sizing: auto; /* Ajuste óptico de la fuente */
  font-style: normal; /* Estilo de fuente normal */
}

/* Estilos para la clase redesSociales */
.redesSociales {
  display: flex; /* Utiliza flexbox para el diseño */
  flex-direction: row; /* Dirección de los elementos en fila */
  justify-content: flex-start; /* Alinea los elementos al inicio */
  width: 100%; /* Ancho completo */
}

/* Estilos para los elementos dentro de la clase redesSociales */
.redesSociales img,
.redesSociales a,
.redesSociales p {
  display: inline-block; /* Muestra los elementos en línea */
  margin: 10px; /* Margen alrededor de los elementos */
  vertical-align: middle; /* Alineación vertical al medio */
}

/* Estilos para los enlaces dentro del footer */
footer a {
  font-size: 26px; /* Tamaño de fuente */
  color: whitesmoke; /* Color del texto */
  text-decoration: none; /* Sin subrayado en el texto */
}

/* Estilos para los párrafos dentro de la clase redesSociales en estado hover y active */
.redesSociales p:hover,
.redesSociales p:active {
  color: rgb(88, 213, 255); /* Color del texto */
  text-decoration: underline; /* Subraya el texto */
  font-size: 30px; /* Tamaño de fuente */
}

/* Estilos para el contenedor con id MensajeEspecial */
#MensajeEspecial {
  display: flex; /* Utiliza flexbox para el diseño */
  justify-content: flex-end; /* Alinea los elementos al final */
  width: 100%; /* Ancho completo */
  margin-top: 20px; /* Margen superior */
}

/* Estilos para los párrafos dentro del contenedor con id MensajeEspecial */
#MensajeEspecial p {
  text-align: right; /* Alineación del texto a la derecha */
  font-size: 20px; /* Tamaño de fuente */
  margin-bottom: 0px; /* Margen inferior */
  margin-top: 22px; /* Margen superior */
}

/* Estilos para los elementos h3 */
h3 {
  text-decoration: underline; /* Subraya el texto */
  text-decoration-color: rgb(88, 213, 255); /* Color del subrayado */
}

/* Estilos para la tabla */
table {
  background-color: #00000085; /* Color de fondo con transparencia */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del elemento */
  padding: 15px; /* Espaciado interno */
}

/* Estilos para las celdas de la tabla */
table td {
  font-size: 20px; /* Tamaño de fuente */
  padding: 4px; /* Espaciado interno */
}

/* Estilos para los encabezados de la tabla */
table th {
  background-color: darkblue; /* Color de fondo */
  color: white; /* Color del texto */
  font-weight: bold; /* Texto en negrita */
  font-size: 30px; /* Tamaño de fuente */
  font-style: bold; /* Estilo de fuente en negrita */
}

table tr:nth-child(odd) {
  background-color: rgb(140, 255, 149); /* Color de fondo */
  color: black; /* Color del texto */
}

/* Even = odd porque el th se cuenta com el primero. */
table tr:nth-child(even) {
  background-color: white; /* Color de fondo */
  color: black; /* Color del texto */
}
