* {
  box-sizing: border-box;
  /* background-color: rgb(26, 26, 26); */
  /* Ajusta el tamaño del cuadro para incluir el relleno y el borde */
}

header,
footer {
  background-color: rgb(39, 39, 39);
  /* Color de fondo para el encabezado y el pie de página */
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* Estilos para el encabezado */
}

nav ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  font-size: 20px;
  /* Estilos para la lista de navegación */
}

header > h1 {
  margin: 20px;
  margin-left: 40px;
  color: whitesmoke;
  /* Estilos para el título en el encabezado */
}

nav ul li {
  margin: 20px;
  /* Margen para los elementos de la lista de navegación */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* Estilos generales para html y body */
}

main {
  background-image: url(../images/BackGround_Colombian-Llanos.jpg);
  background-size: cover;
  background-position: center; /* Centra la imagen de fondo */
  color: white;
  height: 100vh;
  width: 100vw;
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido desborda */
  font-family: Arial, Helvetica, sans-serif;
  /* Estilos para el contenido principal */
}

main > h2 {
  text-decoration: underline; /* Añade un subrayado a los elementos h2 */
  text-decoration-color: rgb(88, 213, 255);
  font-size: 34px;
  background-color: #00000085;
  border-radius: 10px; /* Redondea las esquinas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil alrededor del contenedor */
  padding: 10px; /* Añade espacio dentro del contenedor alrededor del contenido */
  margin-top: 20px; /* Añade espacio encima del elemento h2 para evitar superposición */
  /* Estilos para los títulos en el contenido principal */
}

#DescripcionBienvenida a:link,
#DescripcionBienvenida a:visited {
  text-decoration: underline;
  color: whitesmoke;
  background-color: transparent;
  font-style: italic;
  /* Estilos para los enlaces dentro de #DescripcionBienvenida */
}

#DescripcionBienvenida * {
  background-color: #00000085;
  font-size: 1.375rem; /* Usando rem para un tamaño de fuente escalable */
  margin: 1.25rem; /* Margen aumentado para mejor espaciado */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem; /* Relleno ajustado para consistencia */
  /* Estilos para todos los elementos dentro de #DescripcionBienvenida */
}

/* Estilos para los enlaces dentro del elemento nav */
nav a:link,
nav a:visited {
  color: whitesmoke; /* Establece el color de los enlaces a blanco */
  text-decoration: none; /* Opcional: Elimina el subrayado de los enlaces */
}

/* Para asegurar que los enlaces permanezcan blancos cuando se pasa el ratón sobre ellos o están activos */
nav a:hover,
nav a:active {
  color: rgb(
    88,
    213,
    255
  ); /* Mantiene el color del enlace blanco al pasar el ratón/activo */
  text-decoration: underline;
  font-size: 26px;
}

header {
  position: fixed; /* Fija la posición del nav en relación con la ventana gráfica */
  top: 0; /* Alinea el nav en la parte superior de la ventana gráfica */
  width: 100%; /* Asegura que el nav abarque todo el ancho */
  z-index: 1000; /* Asegura que el nav permanezca encima de otros contenidos */
  /* Estilos adicionales para el encabezado */
}

h1 {
  text-decoration: underline; /* Añade un subrayado a los elementos h1 */
  text-decoration-color: rgb(
    88,
    213,
    255
  ); /* Establece el color del subrayado a azul claro */
  /* Estilos para los títulos h1 */
}

/* Estilo para el contenedor del pie de página */
footer {
  display: flex;
  flex-direction: row;
  color: white; /* Color de texto claro para contraste */
  align-items: center; /* Alinea el texto y los elementos en línea al centro */
  padding: 26px; /* Relleno arriba y abajo del contenido */
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* Estilos adicionales para el pie de página */
}

.redesSociales {
  display: flex; /* Mantiene .redesSociales como un contenedor flex */
  flex-direction: row; /* Esto es predeterminado para contenedores flex y puede omitirse a menos que sea necesario para claridad */
  justify-content: flex-start; /* Alinea los hijos al inicio (izquierda) */
  width: 100%; /* Asegura que tome todo el ancho de su contenedor */
  /* Estilos para el contenedor de redes sociales */
}

/* Estilo los elementos dentro del pie de página para que se muestren como en línea-bloque */
.redesSociales img,
.redesSociales a,
.redesSociales p {
  display: inline-block; /* Muestra los elementos uno al lado del otro */
  margin: 10px; /* Añade algo de espacio horizontal entre los elementos */
  vertical-align: middle; /* Alinea los elementos verticalmente en el medio */
  /* Estilos para los elementos dentro de .redesSociales */
}

/* Ejemplo: Estilo específico para elementos si es necesario */
footer a {
  font-size: 26px;
  color: whitesmoke; /* Color claro para los enlaces */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.redesSociales p:hover,
.redesSociales p:active {
  color: rgb(
    88,
    213,
    255
  ); /* Mantiene el color del enlace blanco al pasar el ratón/activo */
  text-decoration: underline;
  font-size: 30px;
  /* Estilos para los párrafos dentro de .redesSociales al pasar el ratón o estar activos */
}

#MensajeEspecial {
  display: flex; /* Mantiene #MensajeEspecial como un contenedor flex */
  justify-content: flex-end; /* Alinea sus hijos (incluyendo p) a la derecha */
  width: 100%; /* Asegura que tome todo el ancho de su contenedor */
  margin-top: 20px; /* Añade espacio entre .redesSociales y #MensajeEspecial */
  /* Estilos para el contenedor de mensaje especial */
}

#MensajeEspecial p {
  text-align: right; /* Alinea el texto dentro del párrafo a la derecha */
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 22px;
  /* Estilos para los párrafos dentro de #MensajeEspecial */
}

h3 {
  text-decoration: underline; /* Añade un subrayado a los elementos h3 */
  text-decoration-color: rgb(
    88,
    213,
    255
  ); /* Establece el color del subrayado a azul claro */
  /* Estilos para los títulos h3 */
}
/* Estilos para la sección de educación */
#Educacion {
  margin-top: 20px; /* Añade un margen superior de 20px */
}

/* Estilos para la sección de reconocimientos */
#Reconocimientos {
  margin-bottom: 40px; /* Añade un margen inferior de 40px */
}

/* Estilos generales para las secciones */
section {
  border: 5px solid rgb(88, 213, 255); /* Añade un borde de 5px con color azul claro */
  margin: 50px; /* Añade un margen de 50px alrededor de la sección */
  background-image: linear-gradient(
    to right,
    black,
    rgba(128, 128, 128, 0.514)
  ); /* Aplica un degradado de fondo de negro a gris */
}

/* Estilos para la navegación de secciones en la hoja de vida */
#NavSeccionesHojaDeVida {
  border: 5px solid rgb(88, 213, 255); /* Añade un borde de 5px con color azul claro */
  margin-top: 126px; /* Añade un margen superior de 126px */
  margin-left: 0px; /* Elimina el margen izquierdo */
  margin-bottom: 0px; /* Elimina el margen inferior */
  margin-right: 0px; /* Elimina el margen derecho */
  background-image: linear-gradient(
    to right,
    black,
    rgba(128, 128, 128, 0.514)
  ); /* Aplica un degradado de fondo de negro a gris */
}

/* Estilos para la lista dentro de la navegación de secciones */
#NavSeccionesHojaDeVida ul {
  display: flex; /* Muestra los elementos de la lista en una fila */
  flex-direction: row; /* Alinea los elementos en una fila horizontal */
  text-decoration: none; /* Elimina la decoración de texto */
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0px; /* Elimina el relleno */
  font-size: 20px; /* Establece el tamaño de fuente a 20px */
}

/* Estilos para los elementos de la lista dentro de la navegación de secciones */
#NavSeccionesHojaDeVida li {
  margin-left: 30px; /* Añade un margen izquierdo de 30px */
}

/* Estilos para los enlaces dentro de la navegación de secciones */
#NavSeccionesHojaDeVida a:link,
#NavSeccionesHojaDeVida a:visited {
  color: whitesmoke; /* Establece el color de los enlaces a blanco */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

/* Estilos para los enlaces al pasar el ratón o estar activos */
#NavSeccionesHojaDeVida a:hover,
a:active {
  color: rgb(
    88,
    213,
    255
  ); /* Cambia el color de los enlaces a azul claro al pasar el ratón o estar activos */
  text-decoration: underline; /* Añade un subrayado a los enlaces */
  font-size: 22px; /* Aumenta el tamaño de fuente a 22px */
}

/* Estilos para los títulos h3 dentro de las secciones */
section h3 {
  margin-left: 20px; /* Añade un margen izquierdo de 20px */
  font-size: 22px; /* Establece el tamaño de fuente a 22px */
}
