/* Aplica el box-sizing a todos los elementos */
* {
  box-sizing: border-box;
}

/* Estilos para el header y el footer */
header,
footer {
  background-color: rgb(39, 39, 39); /* Color de fondo oscuro */
}

/* Estilos específicos para el header */
header {
  display: flex; /* Utiliza flexbox para el layout */
  justify-content: space-between; /* Espacia los elementos de manera uniforme */
  flex-direction: row; /* Alinea los elementos en una fila */
  align-items: center; /* Alinea los elementos al centro verticalmente */
  font-family: "DM Sans", sans-serif; /* Fuente personalizada */
  font-optical-sizing: auto; /* Ajuste óptico de la fuente */
  font-style: normal; /* Estilo de fuente normal */
}

/* Estilos para la lista de navegación dentro del header */
nav ul {
  display: flex; /* Utiliza flexbox para el layout */
  text-decoration: none; /* Sin decoración de texto */
  list-style-type: none; /* Sin estilo de lista */
  padding: 10px; /* Relleno interno */
  font-size: 20px; /* Tamaño de fuente */
}

/* Estilos para el título h1 dentro del header */
header > h1 {
  margin: 20px; /* Margen alrededor del título */
  margin-left: 40px; /* Margen izquierdo específico */
  color: whitesmoke; /* Color del texto */
}

/* Estilos para los elementos de la lista dentro de la navegación */
nav ul li {
  margin: 20px; /* Margen alrededor de cada elemento de la lista */
}

/* Estilos generales para html y body */
html,
body {
  margin: 0; /* Sin margen */
  padding: 0; /* Sin relleno */
}

/* Estilos para el main */
main {
  background-image: url(../images/BackGround_Colombian-Llanos.jpg); /* Imagen de fondo */
  background-size: cover; /* La imagen cubre todo el fondo */
  background-position: center; /* Centra la imagen de fondo */
  color: white; /* Color del texto */
  height: 100vh; /* Altura del viewport */
  width: 100vw; /* Ancho del viewport */
  display: flex; /* Utiliza flexbox para el layout */
  flex-direction: column; /* Alinea los elementos en una columna */
  justify-content: center; /* Centra los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  font-family: Arial, Helvetica, sans-serif; /* Fuente personalizada */
  overflow-y: auto; /* Permite el desplazamiento vertical */
}

/* Estilos para los títulos h2 dentro del main */
main > h2 {
  text-decoration: underline; /* Subraya los elementos h2 */
  text-decoration-color: rgb(88, 213, 255); /* Color del subrayado */
  font-size: 50px; /* Tamaño de fuente */
  background-color: #00000085; /* Color de fondo con transparencia */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil alrededor del contenedor */
  padding: 10px; /* Relleno interno */
  margin-top: 20px; /* Margen superior */
}

/* Estilos para los enlaces dentro de #DescripcionBienvenida */
#DescripcionBienvenida a:link,
#DescripcionBienvenida a:visited {
  text-decoration: underline; /* Subraya los enlaces */
  color: whitesmoke; /* Color del texto */
  background-color: transparent; /* Fondo transparente */
  font-style: italic; /* Estilo de fuente en cursiva */
}

/* Estilos generales para los elementos dentro de #DescripcionBienvenida */
#DescripcionBienvenida * {
  background-color: #00000085; /* Color de fondo con transparencia */
  font-size: 22px; /* Tamaño de fuente */
  margin: 20px; /* Margen alrededor de los elementos */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil alrededor del contenedor */
  padding: 16px; /* Relleno interno */
}

/* Estilos para los enlaces dentro del nav */
nav a:link,
nav a:visited {
  color: whitesmoke; /* Color del texto */
  text-decoration: none; /* Sin decoración de texto */
}

/* Estilos para los enlaces al pasar el ratón o estar activos */
nav a:hover,
nav a:active {
  color: rgb(
    88,
    213,
    255
  ); /* Color del texto al pasar el ratón o estar activos */
  text-decoration: underline; /* Subraya los enlaces */
  font-size: 26px; /* Tamaño de fuente */
}

/* Estilos específicos para el header */
header {
  position: fixed; /* Fija la posición del header */
  top: 0; /* Alinea el header al tope del viewport */
  width: 100%; /* Ancho completo */
  z-index: 1000; /* Asegura que el header esté por encima del contenido */
}

/* Estilos para el footer */
footer {
  display: flex; /* Utiliza flexbox para el layout */
  flex-direction: row; /* Alinea los elementos en una fila */
  color: white; /* Color del texto */
  align-items: center; /* Alinea los elementos al centro verticalmente */
  padding: 26px; /* Relleno interno */
  font-family: "DM Sans", sans-serif; /* Fuente personalizada */
  font-optical-sizing: auto; /* Ajuste óptico de la fuente */
  font-style: normal; /* Estilo de fuente normal */
}

/* Estilos para la clase .redesSociales */
.redesSociales {
  display: flex; /* Utiliza flexbox para el layout */
  flex-direction: row; /* Alinea los elementos en una fila */
  justify-content: flex-start; /* Alinea los elementos al inicio */
  width: 100%; /* Ancho completo */
}

/* Estilos para los elementos dentro de .redesSociales */
.redesSociales img,
.redesSociales a,
.redesSociales p {
  display: inline-block; /* Muestra los elementos en línea */
  margin: 10px; /* Margen alrededor de los elementos */
  vertical-align: middle; /* Alinea los elementos verticalmente en el medio */
}

/* Estilos específicos para los enlaces dentro del footer */
footer a {
  font-size: 26px; /* Tamaño de fuente */
  color: whitesmoke; /* Color del texto */
  text-decoration: none; /* Sin decoración de texto */
}

/* Estilos para los párrafos dentro de .redesSociales al pasar el ratón o estar activos */
.redesSociales p:hover,
.redesSociales p:active {
  color: rgb(
    88,
    213,
    255
  ); /* Color del texto al pasar el ratón o estar activos */
  text-decoration: underline; /* Subraya los párrafos */
  font-size: 30px; /* Tamaño de fuente */
}

/* Estilos para el contenedor #MensajeEspecial */
#MensajeEspecial {
  display: flex; /* Utiliza flexbox para el layout */
  justify-content: flex-end; /* Alinea los elementos al final */
  width: 100%; /* Ancho completo */
  margin-top: 20px; /* Margen superior */
}

/* Estilos para los párrafos dentro de #MensajeEspecial */
#MensajeEspecial p {
  text-align: right; /* Alinea el texto a la derecha */
  font-size: 20px; /* Tamaño de fuente */
  margin-bottom: 0px; /* Sin margen inferior */
  margin-top: 22px; /* Margen superior */
}

/* Estilos para los títulos h1, h2, h3, h4, h5 */
h1,
h2,
h3,
h4,
h5 {
  text-decoration: underline; /* Subraya los títulos */
  text-decoration-color: rgb(88, 213, 255); /* Color del subrayado */
}

/* Estilos para el contenedor #DescriptionReloj */
#DescriptionReloj {
  display: flex; /* Utiliza flexbox para el layout */
  flex-direction: column; /* Alinea los elementos en una columna */
  justify-content: center; /* Centra los elementos verticalmente */
  align-content: center; /* Centra los elementos horizontalmente */
  margin-top: 1100px; /* Margen superior */
  margin-left: 80px; /* Margen izquierdo */
  margin-right: 80px; /* Margen derecho */
  padding: 20px; /* Relleno interno */
  background-color: #000000bb; /* Color de fondo con transparencia */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil alrededor del contenedor */
}

/* Estilos para los títulos h2 dentro de #DescriptionReloj */
#DescriptionReloj h2 {
  font-size: 36px; /* Tamaño de fuente */
}

/* Estilos para los párrafos dentro de #DescriptionReloj */
#DescriptionReloj p {
  font-size: 20px; /* Tamaño de fuente */
}
/* Estilos para la sección de video */
#Video {
  display: flex; /* Utiliza flexbox para el diseño */
  flex-direction: column; /* Alinea los elementos en una columna */
  justify-content: center; /* Centra los elementos verticalmente */
  margin: 50px; /* Añade un margen de 50px alrededor */
}

/* Estilos para la sección de imágenes de relojes */
#ImagesRelojes {
  display: flex; /* Utiliza flexbox para el diseño */
  flex-direction: row; /* Alinea los elementos en una fila */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-content: center; /* Centra el contenido alineado */
  padding: 20px; /* Añade un relleno de 20px alrededor */
}

/* Estilos para el enlace del fabricante */
#LinkFabricante {
  text-align: center; /* Centra el texto */
  font-size: 20px; /* Establece el tamaño de fuente a 20px */
  text-decoration: underline; /* Añade un subrayado a los elementos h1 */
  text-decoration-color: rgb(
    88,
    213,
    255
  ); /* Establece el color del subrayado a azul claro */
  color: whitesmoke; /* Establece el color del texto a blanco humo */
}
